* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.picture1{
  height:200px;
  width:100%;
  background-image: url(img/box1.jpg);
  background-position: center;
  background-size: cover;
}
.picture2{
  height:200px;
  width:100%;
  background-image: url(img/box2.jpg);
  background-position: center;
  background-size: cover;
}
.picture3{
  height:200px;
  width:100%;
  background-image: url(img/box3.jpg);
  background-position: center;
  background-size: cover;
}
.picture4{
  height:200px;
  width:100%;
  background-image: url(img/box4.jpg);
  background-position: center;
  background-size: cover;
}